@inherits LayoutComponentBase
@layout MainLayout

<CustomPageLayout> 
    <SidebarContent>
        <strong>Shop-Menu</strong><br />
        <br />
        <ul>
            <li><a href="/shop/products">Products</a></li>
            <li><a href="/shop/cart">Cart</a></li>
            <li><a href="/shop/account">Account</a></li>
        </ul>
    </SidebarContent>
    <PageContent>
        @Body
    </PageContent>
</CustomPageLayout>
